<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ایجاد کلاینت جدید AmneziaWG</title>
</head>

<body>

<h2>➕ ایجاد کلاینت جدید AmneziaWG</h2>

<form action="/admin/peers/create" method="post">

    <label>نام کلاینت</label><br>
    <input
        type="text"
        name="name"
        required
    >
    <br><br>

    <label>User ID</label><br>
    <input
        type="number"
        name="user_id"
        required
    >
    <br><br>

    <label>Address</label><br>
    <input
        type="text"
        name="address"
        placeholder="10.0.0.2/32"
        required
    >
    <br><br>

    <label>تاریخ انقضا</label><br>
    <input
        type="datetime-local"
        name="expires_at"
    >
    <br><br>

    <button type="submit">
        ذخیره کلاینت
    </button>

</form>

<br>

<a href="/admin/peers">
    ← بازگشت
</a>

</body>
</html>