<h2>🔑 کلاینت‌های AmneziaWG</h2>

<a href="/admin/peers/create">
➕ ایجاد کلاینت جدید
</a>

<br><br>

<table border="1" width="100%" cellpadding="8">

<thead>
<tr>
    <th>ID</th>
    <th>نام کلاینت</th>
    <th>کاربر</th>
    <th>IP</th>
    <th>Public Key</th>
    <th>وضعیت</th>
    <th>انقضا</th>
    <th>عملیات</th>
</tr>
</thead>


<tbody>

{% if peers %}

{% for peer in peers %}

<tr>

<td>
{{ peer.id }}
</td>


<td>
{{ peer.name }}
</td>


<td>
{% if peer.user %}
{{ peer.user.username }}
{% else %}
-
{% endif %}
</td>


<td>
{{ peer.address }}
</td>


<td>
{{ peer.public_key[:15] }}...
</td>


<td>

{% if peer.is_active %}
✅ فعال
{% else %}
❌ غیرفعال
{% endif %}

</td>


<td>
{{ peer.expires_at or "-" }}
</td>


<td>

<a href="/admin/peers/{{ peer.id }}/delete">
🗑 حذف
</a>

</td>


</tr>

{% endfor %}


{% else %}

<tr>

<td colspan="8">
هیچ کلاینتی وجود ندارد
</td>

</tr>

{% endif %}


</tbody>

</table>


<br>

<a href="/admin/dashboard">
← بازگشت به داشبورد
</a>